@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-size: 90%;
    font-family: 'Open Sans', sans-serif;
    background: #EEEEEE;
/*    display: flex; */
  }

  .header {
    width: 50%;
    margin: 50px auto 0px;
    color: #333333;
    text-align: left;
    border-radius: 10px 10px 0px 0px;

  }

  form, .content {
    width: 50%;
    margin: 20px 0px 0px 20px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 10px 10px 10px 10px;
  }

  .page-links{
    font-size: large;
    text-align: left;
    width: 50%;
    margin: 10 auto 0 auto;
  }

  .input-group {
    padding: 20px;
  }
  
  .input-group formTitle {
    font-size: large;
    text-align: left;
  }
  
  .input-group label {
    margin-top: 10px;
    display: block;
    text-align: left;

  }
  .input-group input {
    height: 30px;
    width: 60%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #E6E8ED;
  }
  .btn {
    height: 42px;
    margin: 0px 0px 20px 20px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #494949;
    background: #9CFFB5;
    border: none;
    border-radius: 7px;
  }

  table {
    width:50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 10px 10px 10px 10px;
    align-self: center;
  }
  td {
    border-bottom: 1px solid #F4F4F4;
    padding: 20px;
    margin-top: 100px;
  }

  .thisPage {
    font-style: italic;
    font-style: color=red;
  }

