/* import font family */
@import url(https://fonts.googleapis.com/css family=Roboto:300);

/*adding background color to the page*/
body {
    background: rgb(238, 235, 235);
}

/* adding style to the main div class/form */
.login-page {
    font-family: "Roboto", sans-serif; 
    width: 500px;
    padding: 8% 0 0;
    margin: auto;
    display: flex; 
}
/* adding style to elements within the form class */
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    display: flex;
}
/* adding style to the form input elements*/
.form input {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 1px solid;
    border-color: rgb(173, 167, 167);
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 7px;
    height: 40px;
}
/* move the username and password label to the left of the form*/
label.label {
float: left !important;

}
/* move the sign in "title" to the left of the form*/
#singinlabel{
text-align: left;
}
/* apply style to the form button*/
.form button {
    display:block;
    float: left;
    outline: 0;
    background: rgb(131, 211, 178);
    width: 17%;
    border: 0;
    border-radius: 10px;
    padding: 15px;
    color: black;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}
/*move the "Aren't you registered?" message to the left of the form and under the sing in button*/
.message{
    display:block;
    text-align: left;
}
/*apply red color to login failed message*/
#loginfailed{
color:red;
}
/*bloding the link*/
 a {
    font-weight: bold;
  }