/* import font family */
@import url(https://fonts.googleapis.com/css family=Roboto:300);

#topic,  #messagePage{
    position: relative;
    background: #FFFFFF;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    
}

#addMessage{

    position: relative;
    background: #FFFFFF;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;



}
#message{
    position: relative;
    background: #FFFFFF;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    

}
/* use to style the Add Message button*/
#submit {
    display:block;
    float: left;
    outline: 0;
    background: rgb(131, 211, 178);
    width: 17%;
    border: 0;
    border-radius: 10px;
    padding: 15px;
    color: black;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}